<%= turbo_frame_tag "user_#{post.id}" do %>
  <div class="w-full bg-white shadow-md rounded-lg ring-1 ring-black ring-opacity-5">
    <div class="p-4">
      <div class="flex items-start">

        <div class="flex-shrink-0 pt-0.5">
          <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80" alt="">
        </div>

        <div class="ml-3 flex-1">
          <div class="flex flex-col flex-wrap">
            <div class="mb-3">
              <div class="flex flex-col flex-wrap">
                <p class="font-medium text-gray-900">
                  <%= post.user_name %> 
                </p>
                <p class="text-sm font-medium text-gray-700">
                  <%= post.user_nickname %> - <%= distance_of_time_in_words(Time.now, post.created_at) %>
                </p>
              </div>
            </div>
            <div class="flex items-start space-x-4">
              <div class="min-w-0 flex-1">
                <%= form_with(model: post, url: posts_user_path(post), class: 'relative') do |f| %>
                  <div class="border border-gray-300 rounded-lg shadow-sm overflow-hidden focus-within:border-indigo-500 focus-within:ring-1 focus-within:ring-indigo-500">
                    <%= f.label :content, class: 'sr-only' %>
                    <%= f.text_area :content, rows: 3, class: 'block w-full py-3 border-0 resize-none focus:ring-0 sm:text-sm', placeholder: "Add your comment..." %>
                    
                    <!-- Spacer element to match the height of the toolbar -->
                    <div class="py-2" aria-hidden="true">
                      <!-- Matches height of button in toolbar (1px border + 36px content height) -->
                      <div class="py-px">
                        <div class="h-9"></div>
                      </div>
                    </div>
                  </div>

                  <div class="absolute bottom-0 inset-x-0 pl-3 pr-2 py-2 flex justify-between">
                    <!-- <div class="flex items-center space-x-5">
                      <div class="flex items-center">
                        <button type="button" class="-m-2.5 w-10 h-10 rounded-full flex items-center justify-center text-gray-400 hover:text-gray-500">
                          </-- Heroicon name: solid/paper-clip --/>
                          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                          </svg>
                          <span class="sr-only">Attach a file</span>
                        </button>
                      </div>
                    </div> -->
                    <div class="flex-shrink-0">
                      <%= f.submit "Save", class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"  %>
                    </div>
                  </div>
                <% end %>
                <% if post.errors.any? %>
                  <span class="mx-1 text-sm text-red-500"><%= post.errors.full_messages.first %></span>
                <% end %>
              </div>
            </div>
            <div class="mt-3">
              <div class="flex">
              </div>
            </div>
          </div>
        </div>

        <div class="flex-shrink-0 pt-0.5">
          <%  %>
          <% if current_user.id == post.user_id %>
            <%= render(VerticalMenuComponent.new(links: [
              { link: link_to("edit", edit_posts_user_path(post.id), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100") },
              { link: button_to("delete", posts_user_path(post.id), method: :delete, data: { controller:  "confirmation", "confirmation-message-value": "Are you sure?", action: "click->confirmation#confirm" }, class: "block px-4 py-2 text-sm text-gray-700", form_class: "hover:bg-gray-100") }
            ])) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>






    
  