<%= turbo_frame_tag "feeds_#{feed.id}:post_#{feed.post_id}" do %>
  <div class="w-full bg-white shadow-md rounded-lg ring-1 ring-black ring-opacity-5">
    <div class="p-4">
      <div class="flex items-start">

        <div class="flex-shrink-0 pt-0.5">
          <% if ar %>
            <%= render(AvatarComponent.new(user: feed.user_avatar, username: feed.user_name)) %>
          <% else %>
            <%= render(AvatarComponent.new(user: feed.user, username: feed.user.username)) %>
          <% end %>
        </div>

        <div class="ml-3 flex-1 ">
          <div class="flex flex-col flex-wrap">
            <div class="mb-3">
              <div class="flex flex-col flex-wrap">
                <p class="font-medium text-gray-900">
                  <%= ar ? feed.user_nickname : feed.user.nickname %>
                </p>
                <p class="text-sm font-medium text-gray-700">
                  <%= ar ? feed.user_name : feed.user.username %> - <%= distance_of_time_in_words(Time.now, feed.post.created_at) %>
                </p>
              </div>
            </div>
            <div class="mx-3 break-all">
              <p><%= ar ? feed.posts_user_content : feed.post.postable.content %></p>
            </div>
            <div>
              <div class="flex min-h-min h-4 mb-3">
                <%= turbo_frame_tag "likes_#{feed.post_id}" do %>
                  <%= render(LikesCounterComponent.new(counter: ar ? feed.posts_user_counter_likeable : feed.post.postable.counter_likeable)) %>
                <% end %>
              </div>
              <div class="flex pt-2 border-t">
                <%= turbo_frame_tag "like_user_#{ar ? feed.posts_user_id : feed.post.postable.id}" do %>
                  <% if (ar ? feed.like_id : feed.post.postable.like_id).present? %>
                    <%= render partial: "likes/dislike", locals: { resource: feed.post } %>
                  <% else %>
                    <%= render partial: "likes/like", locals: { likeable_type: feed.post.postable_type, likeable_id: feed.postable_id } %>
                  <% end %>
                <% end %>
                <%= link_to "comments", comments_path(commentable_type: feed.postable_type, commentable_id: feed.postable_id),  data: { turbo: false }, class: "ml-3 py-1 px-2 uppercase inline-flex shadow-md font-semibold text-sm text-gray-700 border rounded-lg hover:text-gray-900 hover:shadow-xl" %>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-shrink-0 pt-0.5">
          <%= render(VerticalMenuComponent.new(links: [
            { link: button_to("delete", posts_user_path(ar ? feed.posts_user_id : feed.post.postable.id), method: :delete, data: { controller:  "confirmation", "confirmation-message-value": "Are you sure?", action: "click->confirmation#confirm" }, class: "block px-4 py-2 text-sm text-gray-700", form_class: "hover:bg-gray-100") }
          ])) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
