<h1 class="text-3xl mt-3 font-bold text-white">
  <%= @title %>
</h1>
<% if @subtitle %>
  <h2 class="text-sm font-bold text-gray-300">
    @<%= @subtitle %>
  </h2>
<% end %>
<% if @user %>
  <% if @user.bio.present? %>
    <div class="mt-3 break-all">
      <span class='text-white'><%= @user.bio %></span>
    </div>
  <% end %>

  <% if @user.location.present? || @user.profile_url.present? %>
    <div class='mt-3 text-sm text-gray-300'>
      <% if @user.location.present? %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        <span class="align-middle"><%= @user.location %></span>
        <span class="mr-2"></span>
      <% end %>

      <% if @user.profile_url.present? %>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
          </svg>
        </span>
        <span class="align-middle"><%= @user.profile_url %></span>
      <% end %>
    </div>
  <% end %>

  <div class="<%= @user.location.present? || @user.profile_url.present? ? "mt-1" : "mt-3" %> text-sm text-gray-300">
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
      </svg>
    </span>
    <span class="align-middle">Joined <%= l @user.created_at, format: :month_year %></span>
  </div>

  <div class='mt-3 text-sm text-gray-300'>
    <span class='mr-1'>
      <%= link_to followings_path(user_id: @user.id) do %>
        <span class='font-bold text-white'><%= @user.counter_following %></span><span class='ml-1 hover:text-white'>Following</span>
      <% end %>
    </span>
    <span>
      <%= link_to followers_path(user_id: @user.id) do %>
        <span class='font-bold text-white'><%= @user.counter_follower %></span><span class='ml-1 hover:text-white'>Followers</span>
      <% end %>
    </span>
  </div>
<% end %>