<%= turbo_stream_from "user_#{current_user.id}:posts" %>

<nav class="-mb-px mb-6 grid grid-cols-3 justify-items-center">
  <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
  <a href="#" class="w-full text-center border-transparent text-gray-300 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-5 border-b-2 font-medium text-sm">
    Posts
  </a>

  <a href="#" class="w-full text-center border-transparent text-gray-300 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-5 border-b-2 font-medium text-sm">
    Tracks
  </a>

  <a href="#" class="w-full text-center border-red-500 text-white whitespace-nowrap pb-5 border-b-4 font-medium text-sm" aria-current="page">
    Albums
  </a>
</nav>

<% if current_user_profile? %>
  <div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
    <%= render partial: "posts/users/form", locals: { posts_user: @post } %>
  </div>
<% end %>

<div class="<%= "mt-6" unless current_user_profile? %>mt-6 bg-white rounded-lg shadow px-5 py-6 sm:px-6">
  <div 
    data-controller="infinite-scroll list"
    data-action="scroll@window->infinite-scroll#scroll addListItem->list#removeEmptyMessageOnList"
  >
    <div 
      data-infinite-scroll-target="entries">
      <%= render 'posts/entries' %>
    </div>
    <div data-infinite-scroll-target="pagination" class="hidden">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>