<%= turbo_frame_tag resource do %>
  <%= form_with(model: resource, url: setting_path(resource), id: dom_id(resource)) do |f| %>
    <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
      <div>
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Profile
          </h3>
        </div>

        <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <%= f.label :username, 'Username', class: 'block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2' %>
            <div class="mt-1 rounded-md shadow-sm flex">
              <span class="bg-gray-100 border border-r-0 border-gray-300 rounded-l-md px-3 inline-flex items-center text-gray-500 sm:text-sm">
                @
              </span>
              <%= f.text_field :username, class: 'bg-gray-100 focus:ring-indigo-500 focus:border-indigo-500 flex-grow block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300', disabled: true %>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <%= f.label :nickname, 'Nickname', class: 'block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2' %>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <%= f.text_field :nickname, class: 'max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md' %>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <%= f.label :country, 'Country', class: 'block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2' %>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <%= f.text_field :country, class: 'max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md', placeholder: 'Brazil' %>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-12 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <%= f.label :state, 'State', class: 'block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2' %>
            <div class="mt-1 sm:mt-0 sm:col-start-5 sm:col-end-6">
              <%= f.text_field :state, class: 'w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md', placeholder: 'SP' %>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-center sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="photo" class="block text-sm font-medium text-gray-700">
              Photo
            </label>
            <div 
              data-controller="single-upload" 
              data-single-upload-types-value="<%= AvatarUploader::ALLOWED_TYPES.to_json %>" 
              data-single-upload-server-value="<%= upload_server %>">
              <div class="grid justify-items-center mt-1 mb-3">
                <!-- static link to the thumbnail generated on attachment -->
                <%= image_tag resource.avatar_url(:medium).to_s,
                  class: "h-48 w-48 min-h-full rounded-full #{'invisible' unless current_user.avatar_data}",
                  data: { single_upload_target: "preview" } %>
              </div>
              
              <div class="grid justify-items-center">
                <!-- will be replaced by Uppy -->
                <%= f.file_field :avatar,
                  class: "W",
                  data: { single_upload_target: "input" } %>

                <!-- for storing avatar uploaded file data -->
                <%= f.hidden_field :avatar,
                  value: resource.cached_avatar_data,
                  data: { single_upload_target: "result" } %>
              </div>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <%= f.label :bio, 'Bio', class: 'block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2' %>
            <div 
              class="relative mt-1 sm:mt-0 sm:col-span-2" 
              data-controller='counter-chars'
              data-counter-chars-counter-char-value="150"
              data-counter-chars-over-limit-class='text-gray-500'
              data-counter-chars-under-limit-class='text-gray-500'
            >
              <%= f.text_area :bio, rows: 5, data: { counter_chars_target: 'field', action: 'keydown->counter-chars#limit keyup->counter-chars#change' }, class: 'max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md' %>
              <div class="absolute bottom-0 inset-x-0 pl-3 pr-2 py-2 flex justify-items-end">
                <div class="flex-shrink-0"></div>
                <span data-counter-chars-target="output" class="flex-1 pt-4 pr-1 text-gray-400 text-sm"></span>
              </div>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <%= f.label :profile_url, 'Profile URL', class: 'block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2' %>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <%= f.text_field :profile_url, class: 'max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md', placeholder: 'mywebsite.com' %>
            </div>
          </div>

          <!-- bg image -->
          <!-- <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="cover-photo" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
              Cover photo
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                <div class="space-y-1 text-center">
                  <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                    <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <div class="flex text-sm text-gray-600">
                    <label for="file-upload" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                      <span>Upload a file</span>
                      <input id="file-upload" name="file-upload" type="file" class="sr-only">
                    </label>
                    <p class="pl-1">or drag and drop</p>
                  </div>
                  <p class="text-xs text-gray-500">
                    PNG, JPG, GIF up to 10MB
                  </p>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>

      <!-- 
      <div class="divide-y divide-gray-200 pt-8 space-y-6 sm:pt-10 sm:space-y-5">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Security &amp; privacy
          </h3>
        </div>
        <div class="space-y-6 sm:space-y-5 divide-y divide-gray-200">
          <div class="pt-6 sm:pt-5">
            <div role="group" aria-labelledby="label-email">
              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
                <div>
                  <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-email">
                    Account
                  </div>
                </div>
                <div class="mt-4 sm:mt-0 sm:col-span-2">
                  <div class="max-w-lg space-y-4">
                    <div class="relative flex items-start">
                      <div class="flex items-center h-5">
                        <input id="comments" name="comments" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                      </div>
                      <div class="ml-3 text-sm">
                        <label for="comments" class="font-medium text-gray-700">Private</label>
                        <p class="text-gray-500">Only your followers will able to see you profile.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      -->
    </div>

    <div class="pt-5">
      <div class="flex justify-end">
        <%= f.submit "Save", class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    </div>
  <% end %>
<% end %>