<%= turbo_frame_tag "#{post.postable_type.demodulize.downcase}_#{post.postable_id}" do %>
  <div class="w-full bg-white shadow-md rounded-lg ring-1 ring-black ring-opacity-5">
    <div class="p-4">
      <div class="flex items-start">

        <div class="flex-shrink-0 pt-0.5">
          <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80" alt="">
        </div>

        <div class="ml-3 flex-1 ">
          <div class="flex flex-col flex-wrap">
            <div class="mb-3">
              <div class="flex flex-col flex-wrap">
                <p class="font-medium text-gray-900">
                  <%= post.user_name %> 
                </p>
                <p class="text-sm font-medium text-gray-700">
                  <%= post.user_nickname %> - <%= distance_of_time_in_words(Time.now, post.created_at) %>
                </p>
              </div>
            </div>
            <div class="mx-3 break-all">
              <p><%= post.posts_user_content %></p>
            </div>
            <div class="mt-3">
              <div class="flex mb-1">
                <%= turbo_frame_tag "likes_#{post.posts_user_id}" do %>
                  <%= render(LikesCounterComponent.new(counter: post.postable.counter_likeable)) %>
                <% end %>
              </div>
              <div class="flex pt-2 border-t">
                <%= turbo_frame_tag "like_user_#{post.posts_user_id}" do %>
                  <% if post.like_id.present? %>
                    <%= render partial: "likes/dislike", locals: { resource: post.like_id } %>
                  <% else %>
                    <%= render partial: "likes/like", locals: { likeable_type: post.postable.class.name, likeable_id: post.id } %>
                  <% end %>
                <% end %>
                <%= link_to "comments", comments_path(commentable_type: post.postable.class.name, commentable_id: post.postable.id),  data: { turbo: false }, class: "ml-3 py-1 px-2 uppercase inline-flex shadow-md font-semibold text-sm text-gray-700 border rounded-lg hover:text-gray-900 hover:shadow-xl" %>
              </div>
            </div>
          </div>
        </div>

        <div class="flex-shrink-0 pt-0.5">
          <% if current_user_profile? %>
            <%= render(VerticalMenuComponent.new(links: [
              { link: link_to("edit", edit_posts_user_path(post.posts_user_id), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100") },
              { link: button_to("delete", posts_user_path(post.posts_user_id), method: :delete, data: { controller:  "confirmation", "confirmation-message-value": "Are you sure?", action: "click->confirmation#confirm" }, class: "block px-4 py-2 text-sm text-gray-700", form_class: "hover:bg-gray-100") }
            ])) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>