<%= turbo_frame_tag follow_invitation do %>
  <div class="w-full bg-white shadow-md rounded-lg ring-1 ring-black ring-opacity-5">
    <div class="p-4">
      <div class="flex items-start">
        <div class="flex-shrink-0 pt-0.5">
          <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80" alt="">
        </div>
        <div class="ml-3 w-0 flex-1">
          <div class="flex flex-row flex-wrap">
            <div class="flex-shrink-0 flex-wrap">
              <div class="flex flex-col flex-wrap">
                <p class="font-medium text-gray-900">
                    <%= follow_invitation.follower_nickname %> 
                </p>
                <p class="text-sm font-medium text-gray-700">
                  (<%= follow_invitation.follower_username %>)
                </p>
                <p class="mt-1 text-sm text-gray-500">
                  Wants to follow you.
                </p>
              </div>
            </div>
            <div class="mt-4 flex-1">
              <div class="flex justify-end">
                <%= form_with(model: follow_invitation, url: follow_invitation_path(follow_invitation)) do |f| %>
                  <%= f.hidden_field :status, value: :accepted %>
                  <%= f.submit "Accept", class: "inline-flex items-center px-3 py-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
                <% end %>
                <%= form_with(model: follow_invitation, url: follow_invitation_path(follow_invitation)) do |f| %>
                  <%= f.hidden_field :status, value: :rejected %>
                  <%= f.submit "Decline", class: "ml-3 inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
                <% end %> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>